/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.contodo.two-up.two-up-split.two-image-split .image, .contodo.two-up.two-up-split.two-image-split .content > * {
  padding-left: 0;
  padding-right: 0; }

.contodo.two-up.two-up-split.two-image-split h2, .contodo.two-up.two-up-split.two-image-split h5 {
  margin: 0;
  line-height: 1em; }

.contodo.two-up.two-up-split.two-image-split .content-top .bg-tile {
  display: none; }

.contodo.two-up.two-up-split.two-image-split .content-bottom .image {
  width: 80%;
  margin: 0 auto; }

@media only screen and (min-width: 640px) {
  .contodo.two-up.two-up-split.two-image-split {
    grid-gap: 1.5em; }
    .contodo.two-up.two-up-split.two-image-split .image {
      z-index: 3; }
      .contodo.two-up.two-up-split.two-image-split .image figure, .contodo.two-up.two-up-split.two-image-split .image picture, .contodo.two-up.two-up-split.two-image-split .image video {
        width: 100%;
        height: auto;
        margin-top: 5em; }
    .contodo.two-up.two-up-split.two-image-split .content-top {
      padding: 0; }
      .contodo.two-up.two-up-split.two-image-split .content-top .bg-tile {
        display: block;
        top: 1.75em;
        width: calc(var(--max-width, 1160px)*.6);
        height: 150%;
        z-index: 1; }
    .contodo.two-up.two-up-split.two-image-split .content-bottom .bg-tile {
      width: calc(var(--max-width, 1160px)*.9);
      height: 80%;
      top: 3em; }
    .contodo.two-up.two-up-split.two-image-split.image-left .content-top .bg-tile {
      right: -3em; }
    .contodo.two-up.two-up-split.two-image-split.image-left .image {
      margin: 0 auto 0 0; }
    .contodo.two-up.two-up-split.two-image-split.image-left .content-bottom .bg-tile {
      right: 0; }
    .contodo.two-up.two-up-split.two-image-split.image-right .content-top .bg-tile {
      left: -3em; }
    .contodo.two-up.two-up-split.two-image-split.image-right .image {
      margin: 0 0 0 auto; }
    .contodo.two-up.two-up-split.two-image-split.image-right .content-bottom .bg-tile {
      left: 0; } }
