.is-style-inline-block ul, .is-style-inline-block ol,
.is-style-block ul,
.is-style-block ol,
.is-style-grid ul,
.is-style-grid ol,
.is-style-grid-three ul,
.is-style-grid-three ol,
.is-style-grid-four ul,
.is-style-grid-four ol,
.is-style-grid-five ul,
.is-style-grid-five ol,
.is-style-flex ul,
.is-style-flex ol {
  padding-left: 0; }

.is-style-inline-block li,
.is-style-block li,
.is-style-grid li,
.is-style-grid-three li,
.is-style-grid-four li,
.is-style-grid-five li,
.is-style-flex li {
  list-style: none; }

.is-style-inline-block li {
  display: inline-block;
  padding: 1rem 1rem 0 1rem; }

.is-style-block li {
  display: block;
  padding: 1rem 1rem 0 1rem; }

.is-style-grid ul, .is-style-grid ol,
.is-style-grid-three ul,
.is-style-grid-three ol,
.is-style-grid-four ul,
.is-style-grid-four ol,
.is-style-grid-five ul,
.is-style-grid-five ol {
  display: grid;
  gap: 1rem; }

.is-style-grid li,
.is-style-grid-three li,
.is-style-grid-four li,
.is-style-grid-five li {
  text-align: center; }

.is-style-grid ul, .is-style-grid ol {
  grid-template-columns: 1fr 1fr; }

.is-style-grid-three ul, .is-style-grid-three ol {
  grid-template-columns: repeat(3, 1fr); }

.is-style-grid-four ul, .is-style-grid-four ol {
  grid-template-columns: repeat(4, 1fr); }

.is-style-grid-five ul, .is-style-grid-five ol {
  grid-template-columns: repeat(5, 1fr); }

.is-style-flex ul, .is-style-flex ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
