.is-style-inline-block,
.is-style-block,
.is-style-grid,
.is-style-grid-three,
.is-style-grid-four,
.is-style-grid-five,
.is-style-flex {
	ul, ol {
		padding-left: 0;
	}
	li {
		list-style: none;
	}
}

.is-style-inline-block {
	li {
		display: inline-block;
		padding: 1rem 1rem 0 1rem;
	}
}
.is-style-block {
	li {
		display: block;
		padding: 1rem 1rem 0 1rem;
	}
}
.is-style-grid,
.is-style-grid-three,
.is-style-grid-four,
.is-style-grid-five {
	ul, ol {
		display: grid;
		gap: 1rem;
	}
	li {
		text-align: center;
	}
}
.is-style-grid {
	ul, ol {
		grid-template-columns: 1fr 1fr;
	}
}
.is-style-grid-three {
	ul, ol {
		grid-template-columns: repeat(3, 1fr);
	}
}
.is-style-grid-four {
	ul, ol {
		grid-template-columns: repeat(4, 1fr);
	}
}
.is-style-grid-five {
	ul, ol {
		grid-template-columns: repeat(5, 1fr);
	}
}

.is-style-flex {
	ul, ol {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
