.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button::after {
	background: #000;
}

@media screen and (min-width: 640px) and (orientation: landscape) {

	.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button {
		width: 50%;
		height: 100%;
		border-radius: 0;
		margin: 0;
		background: transparent;
	}
	.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button::after {
		display: none;
	}
	.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button.previous {
		left: 0;
		cursor: url(/wp-content/plugins/contodo-components/_images/arrow-left.svg), w-resize;
	}
	.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button.next {
		right: 0;
		cursor: url(/wp-content/plugins/contodo-components/_images/arrow.svg), e-resize;
	}

	.wp-block-coblocks-gallery-carousel.is-style-hover-arrows .flickity-button::before {
	  color: transparent;
	  opacity: 0;
	  text-shadow: none;
	}

}