/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.contodo.two-up {
  display: grid;
  grid-template-columns: 1fr; }
  .contodo.two-up.is-style-darkImageLeft, .contodo.two-up.is-style-darkImageRight {
    background: var(--dark, #555);
    color: var(--light, #fff); }
    .contodo.two-up.is-style-darkImageLeft a, .contodo.two-up.is-style-darkImageRight a {
      color: var(--light, #fff); }
  .contodo.two-up .content {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .contodo.two-up .content > * {
      padding-left: 2rem;
      padding-right: 2rem; }
    .contodo.two-up .content > *:first-child {
      padding-top: 0;
      margin-top: 0; }
    .contodo.two-up .content > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0; }
  .contodo.two-up .image,
  .contodo.two-up figure {
    padding: 0;
    margin: 0; }
  .contodo.two-up .image {
    height: 100%; }
    .contodo.two-up .image figure,
    .contodo.two-up .image figure img {
      width: 100%;
      height: 100%; }
    .contodo.two-up .image figure img {
      object-fit: cover; }
  @media only screen and (min-width: 640px) {
    .contodo.two-up {
      grid-template-columns: 1fr 1fr; }
      .contodo.two-up .content {
        padding: 2rem 0; }
        .contodo.two-up .content > * {
          padding-left: 1rem;
          padding-right: 1rem; }
      .contodo.two-up.is-style-darkImageRight.image-25, .contodo.two-up.is-style-lightImageRight.image-25 {
        grid-template-columns: 75fr 25fr; }
      .contodo.two-up.is-style-darkImageLeft.image-25, .contodo.two-up.is-style-lightImageLeft.image-25 {
        grid-template-columns: 25fr 75fr; }
      .contodo.two-up.is-style-darkImageRight.image-33, .contodo.two-up.is-style-lightImageRight.image-33 {
        grid-template-columns: 67fr 33fr; }
      .contodo.two-up.is-style-darkImageLeft.image-33, .contodo.two-up.is-style-lightImageLeft.image-33 {
        grid-template-columns: 33fr 67fr; }
      .contodo.two-up.is-style-darkImageRight.image-42, .contodo.two-up.is-style-lightImageRight.image-42 {
        grid-template-columns: 58fr 42fr; }
      .contodo.two-up.is-style-darkImageLeft.image-42, .contodo.two-up.is-style-lightImageLeft.image-42 {
        grid-template-columns: 42fr 58fr; }
      .contodo.two-up.is-style-darkImageRight.image-50, .contodo.two-up.is-style-lightImageRight.image-50 {
        grid-template-columns: 50fr 50fr; }
      .contodo.two-up.is-style-darkImageLeft.image-50, .contodo.two-up.is-style-lightImageLeft.image-50 {
        grid-template-columns: 50fr 50fr; }
      .contodo.two-up.is-style-darkImageRight.image-58, .contodo.two-up.is-style-lightImageRight.image-58 {
        grid-template-columns: 42fr 58fr; }
      .contodo.two-up.is-style-darkImageLeft.image-58, .contodo.two-up.is-style-lightImageLeft.image-58 {
        grid-template-columns: 58fr 42fr; }
      .contodo.two-up.is-style-darkImageRight.image-67, .contodo.two-up.is-style-lightImageRight.image-67 {
        grid-template-columns: 33fr 67fr; }
      .contodo.two-up.is-style-darkImageLeft.image-67, .contodo.two-up.is-style-lightImageLeft.image-67 {
        grid-template-columns: 67fr 33fr; }
      .contodo.two-up.is-style-darkImageRight.image-75, .contodo.two-up.is-style-lightImageRight.image-75 {
        grid-template-columns: 25fr 75fr; }
      .contodo.two-up.is-style-darkImageLeft.image-75, .contodo.two-up.is-style-lightImageLeft.image-75 {
        grid-template-columns: 75fr 25fr; }
      .contodo.two-up.is-style-darkImageRight .content,
      .contodo.two-up.is-style-lightImageRight .content {
        order: -1; } }
