/**
 * 		@file
 */
@media only screen and (min-width: 640px) {
  .contodo-hero.two-up .image .wp-block-coblocks-gallery-carousel {
    height: 100%; }
    .contodo-hero.two-up .image .wp-block-coblocks-gallery-carousel .coblocks-gallery {
      height: 100%; }
    .contodo-hero.two-up .image .wp-block-coblocks-gallery-carousel.has-responsive-height .has-carousel {
      height: 100% !important;
      padding-bottom: 0; } }
